In [1]:
import pandas as pd

In [2]:
df = pd.DataFrame({
    "id": [1, 2, 3],
    "email": ["a@b.com", "c@d.com", "a@b.com"]
})

df

   id    email
0   1  a@b.com
1   2  c@d.com
2   3  a@b.com

In [6]:
mask = df.duplicated(['email'])
mask

0    False
1    False
2     True
dtype: bool

In [7]:
df[mask]

   id    email
2   3  a@b.com

In [3]:
zlen(logs.num)

NameError: name 'zlen' is not defined

In [15]:
repeated_3 = []
for i in range(len(logs.num)-2):
    if logs.num[i] == logs.num[i+1] == logs.num[i+2]:
        repeated_3.append(i)

In [24]:
repeated_3

[0, 5]

In [34]:
new = logs.iloc[repeated_3]
new

   id  num
0   1    1
5   6    2

In [36]:
new['num']

0    1
5    2
Name: num, dtype: int64

In [40]:
df = new.rename(columns = {'num':'ConsecutiveNums'})
print(df)

   id  ConsecutiveNums
0   1                1
5   6                2

In [35]:
table = logs.num[repeated_3]

In [23]:
employees = pd.DataFrame({ "id": [1, 2, 3, 4],
                           "name": ["Joe", "Henry", "Sam", "Max"],
                           "salary": [70000, 80000, 60000, 90000],
                           "managerId": [3, 4, None, None]})
print(employees)

   id   name  salary  managerId
0   1    Joe   70000        3.0
1   2  Henry   80000        4.0
2   3    Sam   60000        NaN
3   4    Max   90000        NaN

In [24]:
new = employees.merge(employees, left_on='managerId', right_on='id', how='left', suffixes = ("", "_mgr"))
print(new)

   id   name  salary  managerId  id_mgr name_mgr  salary_mgr  managerId_mgr
0   1    Joe   70000        3.0     3.0      Sam     60000.0            NaN
1   2  Henry   80000        4.0     4.0      Max     90000.0            NaN
2   3    Sam   60000        NaN     NaN      NaN         NaN            NaN
3   4    Max   90000        NaN     NaN      NaN         NaN            NaN

In [26]:
mask = (new.salary > new.salary_mgr)

In [28]:
print(new[mask])

   id name  salary  managerId  id_mgr name_mgr  salary_mgr  managerId_mgr
0   1  Joe   70000        3.0     3.0      Sam     60000.0            NaN