In [104]:
from typing import DefaultDict
from typing import List

strs = ["act","pots","tops","cat","stop","hat"]

In [25]:
nums = [7,7]
k = 1

In [26]:
map = {}

In [27]:
for i in range(len(nums)):
    map[nums[i]] = 1 + map.get(nums[i], 0)

In [28]:
map

{7: 2}

In [29]:
map_keys = list(map.keys())
map_keys

[7]

In [30]:
map_values = list(map.values())
map_values

[2]

In [33]:
if len(map_values) == 1:
    sort_values = map_values

else:
    sort_values = sorted(map_values)

sort_values

[2]

In [34]:
sorted_val = sort_values[-k:]
sorted_val

[2]

In [35]:
output = []
for key, value in map.items():
    if value in sorted_val:
        output.append(key)

In [40]:
nums = [1, 1, 1, 2, 2 ,100]
k = 2

In [50]:
count = {}  # i

freq = [ [] for i in range(len(nums)+1) ]

In [51]:
freq

[[], [], [], [], [], [], []]

In [52]:
for n in nums:
    count[n] = 1 + count.get(n, 0)

In [53]:
count

{1: 3, 2: 2, 100: 1}

In [54]:
for n, c in count.items():
    freq[c].append(n)

In [56]:
freq

[[], [100], [2], [1], [], [], []]

In [61]:
out = []
for i in range(len(freq) - 1, 0, -1):
    for n in freq[i]:
        out.append(n)
        if len(out) == k:
            print(out)

[1, 2]

In [58]:
out

[1, 2, 100]

In [36]:
output

[7]

In [68]:
nums = [1,2,4,6]

In [69]:
output = []
for i in range(len(nums)):
    output.append(nums[i])

In [70]:
output

[1, 2, 4, 6]

In [87]:
n = len(nums)
out = []

In [88]:
for i in range(len(nums)):
    prod = 1
    for j in range(len(nums)):
        if i == j:
            continue
        prod *= nums[j]

    out.append(prod)

In [89]:
prod

8

In [90]:
out

[48, 24, 12, 8]

In [16]:
board = [["1","2",".",".","3",".",".",".","."],
 ["4",".",".","5",".",".",".",".","."],
 [".","9","8",".",".",".",".",".","3"],
 ["5",".",".",".","6",".",".",".","4"],
 [".",".",".","8",".","3",".",".","5"],
 ["7",".",".",".","2",".",".",".","6"],
 [".",".",".",".",".",".","2",".","."],
 [".",".",".","4","1","9",".",".","8"],
 [".",".",".",".","8",".",".","7","9"]]

In [30]:
class Solution:
    def isValidSudoku(self, board: list[list[str]]) -> bool:

        # check if duplicates in rows
        for row in range(9):
            seen = set()
            for i in range(9):
                if board[row][i] == ".":
                    continue
                if board[row][i] in seen:
                    return False
                seen.add(board[row][i])

        # check if duplicates in columns
        for col in range(9):
            seen = set()
            for i in range(9):
                if board[i][col] == ".":
                    continue
                if board[i][col] in seen:
                    return False
                seen.add(board[i][col])

        # check boxes
        for square in range(9):
            seen = set()
            for i in range(3):
                for j in range(3):
                    row = (square //3) *3 + i
                    col = (square //3) *3 + j
                if board[row][col] == ".":
                    continue
                if board[row][col] in seen:
                    return False
                seen.add(board[row][col])

        return True

In [31]:
print(Solution().isValidSudoku(board))

True

In [76]:
digits = [1,2, 9, 9]

In [77]:
out = digits
increment = digits[len(digits)-1]
# if increment == 9:
#     penult = digits[len(digits)-2]
#     out[len(digits)-1] = 0
#     digits[len(digits)-2] = penult + 1
#
if increment == 9:
    for i in range(len(digits)-2):
        out[len(digits)-1] = 0

        penult = digits[len(digits)-2]
        digits[len(digits)-2] = penult + 1


else:
    output = increment + 1
    out[len(digits)-1] = output

In [78]:
out

[1, 2, 11, 0]

In [50]:
digits[len(digits)-2]

2

In [108]:
s = "Was it a car or a cat I saw?"

In [109]:
s = s.lower()

In [110]:
s

'was it a car or a cat i saw?'

In [107]:
list(s)

['0', 'p', '?', '?']

In [103]:
''.join(x for x in s if x.isalnum())

'0p'

In [104]:
s.lower()

'0p'

In [94]:
sorte = []
for x in s:
    if x.isalpha():
        out = x
        sorte.append(out)

In [95]:
sorte

['p']

In [96]:
if len(sorte) == 1:
    print(False)

False

In [86]:
len(sorte)

7

In [87]:
sorte[0]

't'

In [88]:
sorte[-0-1]

't'

In [89]:
for i in range(len(sorte)//2):
    if sorte[i] == sorte[-i-1]:
        print(True)

    else:
        print(False)

True
True
False

In [19]:
sorte[]

['W']

In [20]:
new = "bam"

In [33]:
new[-1]

'm'

In [111]:
s = "Was it a car or a cat I saw?"

In [112]:
left = 0
right = len(s) -1

In [113]:
while left < right and s[left].isalnum() == True:
    left += 1

In [118]:
s[len(s)-1].isalnum()

False

In [117]:
left

3

In [119]:
numbers = [1,2,3,4]
target = 3

In [121]:
len(set(numbers))

4

In [122]:
s = ["h","e","l","l","o"]

In [124]:
s[::-1]

['o', 'l', 'l', 'e', 'h']

In [126]:
class Solution:
    def reverseString(self, s: List[str]) -> None:
        """
        Do not return anything, modify s in-place instead.
        """
        s = s[::-1]

NameError: name 'List' is not defined

In [6]:
height = [0,2,0,3,1,0,1,3,2,1]

In [7]:
output = 0

In [13]:
for i in range(len(height)):
    h_left = max((height[x] for x in range(i)),  default=0)
    h_right = max((height[x] for x in range(i+1, len(height))),  default=0)

    calc = min(h_left, h_right ) - height[i]

    if calc > 0:
        output += calc

In [12]:
h_right

0

In [14]:
output

9

In [1]:
prices = [10,1,5,6,7,1]

In [2]:
argmin(prices)

NameError: name 'argmin' is not defined

In [10]:
prices[len(prices)-1:]

[1]

In [12]:
prices = [10,8,7,5,2]

In [14]:
output = 0

if min(prices) == prices[len(prices)-1:]:
    print(output)

In [15]:
prices[-1]

2

In [16]:
        if prices == sorted(prices, reverse=True):
            out = 0

        else:
            min_index = 0
            for i in range(len(prices)):
                if prices[i] < prices[min_index]:
                    min_index = i

            max_index = min_index
            for j in range(min_index, len(prices)):
                if prices[j] > prices[max_index]:
                    max_index = j

            out = prices[max_index] - prices[min_index]

In [17]:
s = "zxyzxyz"

In [18]:
len(s)

7

In [1]:
import pandas as pd

In [3]:
customers = pd.DataFrame({ "id": [1, 2, 3, 4],
                           "name": ["Joe", "Henry", "Sam", "Max"] }) # Orders table
orders = pd.DataFrame({ "id": [1, 2], "customerId": [3, 1] })

In [4]:
orders.id

0    1
1    2
Name: id, dtype: int64

In [17]:
joined = customers.merge(orders, left_on = "id", right_on = "customerId", how = "left")
joined

   id_x   name  id_y  customerId
0     1    Joe   2.0         1.0
1     2  Henry   NaN         NaN
2     3    Sam   1.0         3.0
3     4    Max   NaN         NaN

In [25]:
try1 = joined[joined.customerId.notna()]
try1

   id_x name  id_y  customerId
0     1  Joe   2.0         1.0
2     3  Sam   1.0         3.0

In [26]:
try1['customerId']

0    1.0
2    3.0
Name: customerId, dtype: float64

In [18]:
import numpy as np

In [21]:
nums = [100, 200]

In [24]:
import pandas as pd

In [27]:
data = { 'id': [1, 2, 3],
         'salary': [100, 200, 200] }

employee = pd.DataFrame(data)

In [28]:
sorted(employee.salary.unique())

[np.int64(100), np.int64(200)]

In [15]:
len(nums)-2

0

In [12]:
nums[len(nums)-2]

100

In [80]:
data = { 'patient_id': [1, 2, 3, 4, 5],
         'patient_name': ['Daniel', 'Alice', 'Bob', 'George', 'Alain'],
         'conditions': ['YFEV COUGH', '', 'DIAB100 MYOP', 'ACNE DIAB100', 'DIAB201'] }

patients = pd.DataFrame(data)

In [92]:
data = { 'id': [1, 2, 3],
         'salary': [100, 200, 300] }

employee = pd.DataFrame(data)
n = 2

In [93]:
employee

   id  salary
0   1     100
1   2     200
2   3     300

In [99]:
for i in range(len(employee.salary)):
    sorted = sorted(employee.salary)

TypeError: 'list' object is not callable

In [100]:
employee.salary

0    100
1    200
2    300
Name: salary, dtype: int64

In [106]:
sorted(employee.salary)

TypeError: 'list' object is not callable

In [95]:
sort_1 = sorted(employee.salary)
sort_1

TypeError: 'list' object is not callable

In [107]:
sorted_list = sorted(employee.salary)
numb = sorted_list[:N]

TypeError: 'list' object is not callable

In [112]:
import numpy as np
nums = np.array([1, 2, 3, 4, 5, 6])

In [2]:
import pandas as pd

In [12]:
employee_data = { 'id': [1, 2],
                  'name': ['Joe', 'Max'],
                  'salary': [60000, 60000],
                  'departmentId': [1, 2] }

employee = pd.DataFrame(employee_data)

department_data = { 'id': [1, 2],
                    'name': ['IT', 'Sales'] }

department = pd.DataFrame(department_data)

In [13]:
employee

   id name  salary  departmentId
0   1  Joe   60000             1
1   2  Max   60000             2

In [24]:
department = department.rename(columns = {'id': 'departmentId'})
department = department.rename(columns = {'name': 'departmentName'})
department

   departmentId departmentName
0             1             IT
1             2          Sales

In [25]:
department['departmentId']

0    1
1    2
Name: departmentId, dtype: int64

In [27]:
joined_dep_emp = pd.merge(employee, department, how = 'left', on = 'departmentId')
joined_dep_emp

   id name  salary  departmentId departmentName
0   1  Joe   60000             1             IT
1   2  Max   60000             2          Sales

In [28]:
max_sal = joined_dep_emp.groupby('departmentId').agg({'salary': 'max'})
max_sal

              salary
departmentId
1              60000
2              60000

In [34]:
out_raw = pd.merge(joined_dep_emp, max_sal, 'right', on = ['salary','departmentId'])
out_raw

   id name  salary  departmentId departmentName
0   1  Joe   60000             1             IT
1   2  Max   60000             2          Sales

In [99]:
out = out_raw[['name_y', 'name_x', 'salary']]
out

  name_y name_x  salary
0     IT    Jim   90000
1  Sales  Henry   80000
2     IT    Max   90000

In [100]:
out.rename(columns = {'name_y': 'Department',
                      'name_x': 'Employee',
                      'salary': 'Salary'})

  Department Employee  Salary
0         IT      Jim   90000
1      Sales    Henry   80000
2         IT      Max   90000

In [56]:
grouped = employee.groupby(by = ["departmentId"]).max(['salary'])
grouped

              id  salary
departmentId
1              5   90000
2              4   80000

In [55]:
pd.merge(joined_dep_emp, grouped, left_on = "id_x", right_on = "id")

   id_x name_x  salary_x  departmentId  id_y name_y  id  salary_y
0     5    Max     90000             1     1     IT   5     90000
1     4    Sam     60000             2     2  Sales   4     80000

In [35]:
data = { "id": [1, 2, 3, 4, 5, 6],
         "score": [3.50, 3.65, 4.00, 3.85, 4.00, 3.65] }

scores = pd.DataFrame(data)

In [56]:
list_sort = sorted(scores['score'])
list_sort

[3.5, 3.65, 3.65, 3.85, 4.0, 4.0]

In [81]:
rev = list_sort[::-1]
rev

[4.0, 4.0, 3.85, 3.65, 3.65, 3.5]

In [82]:
rank = []
for i in range(len(rev)-2):
    if rev[i] == rev[i+1]:
        rank.append(i)
        rank.append(i)

    else:
        rank.append(i)

In [84]:
rank = []
for i in range(len(rev) - 1):
    if rev[i] == rev[i+1]:
        rank.extend([i, i])
    else: rank.append(i)

In [85]:
rank

[0, 0, 1, 2, 3, 3, 4]

In [53]:
out = pd.DataFrame()

In [54]:
out['rank'] = list_sort

In [55]:
out

   rank
0  3.50
1  3.65
2  3.65
3  3.85
4  4.00
5  4.00

In [87]:
scores['score'].rank(method='dense', ascending = False)

0    4.0
1    3.0
2    1.0
3    2.0
4    1.0
5    3.0
Name: score, dtype: float64

In [40]:
len(list_sort)

6

In [46]:
rank = []
for i in range(len(list_sort)):
    rank.append(i+1)

In [47]:
rank

[1, 2, 3, 4, 5, 6]

In [48]:
rank.reverse()

In [49]:
rank

[6, 5, 4, 3, 2, 1]

In [42]:
rank = []

for i in range(len(list_sort)):

    if list_sort[i] == list_sort[i+1]:
        rank.append(i)

    else:
        rank.append(i)

IndexError: list index out of range

In [1]:
import pandas as pd

In [20]:
data = { "emp_id": [1, 1, 1, 2, 2],
         "event_day": ["2020-11-28", "2020-11-28", "2020-12-03", "2020-11-28", "2020-12-09"],
         "in_time": [4, 55, 1, 3, 47],
         "out_time": [32, 200, 42, 33, 74] }

employees = pd.DataFrame(data)

In [43]:
df = employees.groupby(by = ["event_day","emp_id"], as_index=False).sum()
print(df)

    event_day  emp_id  in_time  out_time
0  2020-11-28       1       59       232
1  2020-11-28       2        3        33
2  2020-12-03       1        1        42
3  2020-12-09       2       47        74

In [44]:
df['total_time'] = df['out_time'] - df['in_time']

In [45]:
df

    event_day  emp_id  in_time  out_time  total_time
0  2020-11-28       1       59       232         173
1  2020-11-28       2        3        33          30
2  2020-12-03       1        1        42          41
3  2020-12-09       2       47        74          27

In [2]:
data = { "player_id": [1, 1, 2, 3, 3],
         "device_id": [2, 2, 3, 1, 4],
         "event_date": ["2016-03-01", "2016-05-02", "2017-06-25", "2016-03-02", "2018-07-03"],
         "games_played": [5, 6, 1, 0, 5] }

activity = pd.DataFrame(data)

In [3]:
activity

   player_id  device_id  event_date  games_played
0          1          2  2016-03-01             5
1          1          2  2016-05-02             6
2          2          3  2017-06-25             1
3          3          1  2016-03-02             0
4          3          4  2018-07-03             5

In [6]:
activity.groupby(by = 'player_id', as_index = False)['event_date'].min()

   player_id  event_date
0          1  2016-03-01
1          2  2017-06-25
2          3  2016-03-02

In [7]:
data = { 'teacher_id': [1, 1, 1, 2, 2, 2, 2],
         'subject_id': [2, 2, 3, 1, 2, 3, 4],
         'dept_id': [3, 4, 3, 1, 1, 1, 1] }
teacher = pd.DataFrame(data)

In [15]:
teacher.groupby(by = 'teacher_id', as_index = False)['subject_id'].nunique()

   teacher_id  subject_id
0           1           2
1           2           4

In [ ]:
data = { 'order_number': [1, 2, 3, 4],
         'customer_number': [1, 2, 3, 3] }

orders = pd.DataFrame(data)