In [141]:
from typing import DefaultDict
from typing import List

strs = ["act","pots","tops","cat","stop","hat"]

In [25]:
nums = [7,7]
k = 1

In [26]:
map = {}

In [27]:
for i in range(len(nums)):
    map[nums[i]] = 1 + map.get(nums[i], 0)

In [28]:
map

{7: 2}

In [29]:
map_keys = list(map.keys())
map_keys

[7]

In [30]:
map_values = list(map.values())
map_values

[2]

In [33]:
if len(map_values) == 1:
    sort_values = map_values

else:
    sort_values = sorted(map_values)

sort_values

[2]

In [34]:
sorted_val = sort_values[-k:]
sorted_val

[2]

In [35]:
output = []
for key, value in map.items():
    if value in sorted_val:
        output.append(key)

In [40]:
nums = [1, 1, 1, 2, 2 ,100]
k = 2

In [50]:
count = {}  # i

freq = [ [] for i in range(len(nums)+1) ]

In [51]:
freq

[[], [], [], [], [], [], []]

In [52]:
for n in nums:
    count[n] = 1 + count.get(n, 0)

In [53]:
count

{1: 3, 2: 2, 100: 1}

In [54]:
for n, c in count.items():
    freq[c].append(n)

In [56]:
freq

[[], [100], [2], [1], [], [], []]

In [61]:
out = []
for i in range(len(freq) - 1, 0, -1):
    for n in freq[i]:
        out.append(n)
        if len(out) == k:
            print(out)

[1, 2]

In [58]:
out

[1, 2, 100]

In [36]:
output

[7]

In [68]:
nums = [1,2,4,6]

In [69]:
output = []
for i in range(len(nums)):
    output.append(nums[i])

In [70]:
output

[1, 2, 4, 6]

In [87]:
n = len(nums)
out = []

In [88]:
for i in range(len(nums)):
    prod = 1
    for j in range(len(nums)):
        if i == j:
            continue
        prod *= nums[j]

    out.append(prod)

In [89]:
prod

8

In [90]:
out

[48, 24, 12, 8]

In [16]:
board = [["1","2",".",".","3",".",".",".","."],
 ["4",".",".","5",".",".",".",".","."],
 [".","9","8",".",".",".",".",".","3"],
 ["5",".",".",".","6",".",".",".","4"],
 [".",".",".","8",".","3",".",".","5"],
 ["7",".",".",".","2",".",".",".","6"],
 [".",".",".",".",".",".","2",".","."],
 [".",".",".","4","1","9",".",".","8"],
 [".",".",".",".","8",".",".","7","9"]]

In [30]:
class Solution:
    def isValidSudoku(self, board: list[list[str]]) -> bool:

        # check if duplicates in rows
        for row in range(9):
            seen = set()
            for i in range(9):
                if board[row][i] == ".":
                    continue
                if board[row][i] in seen:
                    return False
                seen.add(board[row][i])

        # check if duplicates in columns
        for col in range(9):
            seen = set()
            for i in range(9):
                if board[i][col] == ".":
                    continue
                if board[i][col] in seen:
                    return False
                seen.add(board[i][col])

        # check boxes
        for square in range(9):
            seen = set()
            for i in range(3):
                for j in range(3):
                    row = (square //3) *3 + i
                    col = (square //3) *3 + j
                if board[row][col] == ".":
                    continue
                if board[row][col] in seen:
                    return False
                seen.add(board[row][col])

        return True

In [31]:
print(Solution().isValidSudoku(board))

True

In [76]:
digits = [1,2, 9, 9]

In [77]:
out = digits
increment = digits[len(digits)-1]
# if increment == 9:
#     penult = digits[len(digits)-2]
#     out[len(digits)-1] = 0
#     digits[len(digits)-2] = penult + 1
#
if increment == 9:
    for i in range(len(digits)-2):
        out[len(digits)-1] = 0

        penult = digits[len(digits)-2]
        digits[len(digits)-2] = penult + 1


else:
    output = increment + 1
    out[len(digits)-1] = output

In [78]:
out

[1, 2, 11, 0]

In [50]:
digits[len(digits)-2]

2

In [108]:
s = "Was it a car or a cat I saw?"

In [109]:
s = s.lower()

In [110]:
s

'was it a car or a cat i saw?'

In [107]:
list(s)

['0', 'p', '?', '?']

In [103]:
''.join(x for x in s if x.isalnum())

'0p'

In [104]:
s.lower()

'0p'

In [94]:
sorte = []
for x in s:
    if x.isalpha():
        out = x
        sorte.append(out)

In [95]:
sorte

['p']

In [96]:
if len(sorte) == 1:
    print(False)

False

In [86]:
len(sorte)

7

In [87]:
sorte[0]

't'

In [88]:
sorte[-0-1]

't'

In [89]:
for i in range(len(sorte)//2):
    if sorte[i] == sorte[-i-1]:
        print(True)

    else:
        print(False)

True
True
False

In [19]:
sorte[]

['W']

In [20]:
new = "bam"

In [33]:
new[-1]

'm'

In [111]:
s = "Was it a car or a cat I saw?"

In [112]:
left = 0
right = len(s) -1

In [113]:
while left < right and s[left].isalnum() == True:
    left += 1

In [118]:
s[len(s)-1].isalnum()

False

In [117]:
left

3

In [119]:
numbers = [1,2,3,4]
target = 3

In [121]:
len(set(numbers))

4

In [122]:
s = ["h","e","l","l","o"]

In [124]:
s[::-1]

['o', 'l', 'l', 'e', 'h']

In [126]:
class Solution:
    def reverseString(self, s: List[str]) -> None:
        """
        Do not return anything, modify s in-place instead.
        """
        s = s[::-1]

NameError: name 'List' is not defined

In [6]:
height = [0,2,0,3,1,0,1,3,2,1]

In [7]:
output = 0

In [13]:
for i in range(len(height)):
    h_left = max((height[x] for x in range(i)),  default=0)
    h_right = max((height[x] for x in range(i+1, len(height))),  default=0)

    calc = min(h_left, h_right ) - height[i]

    if calc > 0:
        output += calc

In [12]:
h_right

0

In [14]:
output

9

In [1]:
prices = [10,1,5,6,7,1]

In [2]:
argmin(prices)

NameError: name 'argmin' is not defined

In [10]:
prices[len(prices)-1:]

[1]

In [12]:
prices = [10,8,7,5,2]

In [14]:
output = 0

if min(prices) == prices[len(prices)-1:]:
    print(output)

In [15]:
prices[-1]

2

In [16]:
        if prices == sorted(prices, reverse=True):
            out = 0

        else:
            min_index = 0
            for i in range(len(prices)):
                if prices[i] < prices[min_index]:
                    min_index = i

            max_index = min_index
            for j in range(min_index, len(prices)):
                if prices[j] > prices[max_index]:
                    max_index = j

            out = prices[max_index] - prices[min_index]

In [17]:
s = "zxyzxyz"

In [18]:
len(s)

7

In [1]:
import pandas as pd

In [3]:
customers = pd.DataFrame({ "id": [1, 2, 3, 4],
                           "name": ["Joe", "Henry", "Sam", "Max"] }) # Orders table
orders = pd.DataFrame({ "id": [1, 2], "customerId": [3, 1] })

In [4]:
orders.id

0    1
1    2
Name: id, dtype: int64

In [17]:
joined = customers.merge(orders, left_on = "id", right_on = "customerId", how = "left")
joined

   id_x   name  id_y  customerId
0     1    Joe   2.0         1.0
1     2  Henry   NaN         NaN
2     3    Sam   1.0         3.0
3     4    Max   NaN         NaN

In [25]:
try1 = joined[joined.customerId.notna()]
try1

   id_x name  id_y  customerId
0     1  Joe   2.0         1.0
2     3  Sam   1.0         3.0

In [26]:
try1['customerId']

0    1.0
2    3.0
Name: customerId, dtype: float64

In [28]:
data = { "article_id": [1, 1, 2, 2, 4, 3, 3],
         "author_id": [3, 3, 7, 7, 7, 4, 4],
         "viewer_id": [5, 6, 7, 6, 1, 4, 4],
         "view_date": [ "2019-08-01", "2019-08-02", "2019-08-01", "2019-08-02", "2019-07-22", "2019-07-21", "2019-07-21" ] }

views = pd.DataFrame(data)
views

   article_id  author_id  viewer_id   view_date
0           1          3          5  2019-08-01
1           1          3          6  2019-08-02
2           2          7          7  2019-08-01
3           2          7          6  2019-08-02
4           4          7          1  2019-07-22
5           3          4          4  2019-07-21
6           3          4          4  2019-07-21

In [30]:
df = views

In [32]:
try1 = df[df.author_id == df.viewer_id]
try1

   article_id  author_id  viewer_id   view_date
2           2          7          7  2019-08-01
5           3          4          4  2019-07-21
6           3          4          4  2019-07-21

In [50]:
df = try1[['author_id']].rename(columns = {"author_id": "id"})
df

   id
2   7
5   4
6   4

In [51]:
df.drop_duplicates()

   id
2   7
5   4

In [52]:
s = "Let us Code"

In [54]:
data = { 'tweet_id': [1, 2],
         'content': ['Let us Code', 'More than fifteen chars are here!'] }

tweets = pd.DataFrame(data)

In [55]:
tweets

   tweet_id                            content
0         1                        Let us Code
1         2  More than fifteen chars are here!

In [58]:
tweets.content

0                          Let us Code
1    More than fifteen chars are here!
Name: content, dtype: object

In [81]:
df = tweets

for i in range(len(tweets)):
    if len(tweets['content'][i]) <= 15:
        df = df.drop(i)

df = df.reset_index(drop=True)

In [82]:
df

   tweet_id                            content
0         2  More than fifteen chars are here!